{% extends '_layouts/base.njk' %}


{% block content %}
<article class="container">
  <div class="row">
  <h1>Discography</h1>
  </div>

<div class="row">
    {%for disc in discography%}
  <div class="col-md-4">
      <ul class="list-unstyled">
        <li class="albums">
    <img class="album-image img-thumbnail" src=assets/img/discs/{{disc.image}} alt="Album Cover">
    <div class="media-body">
      <h3 class="album-title">{{disc.title}}</h3>
      <h5 class="album-year">{{disc.year}}</h5>
    </div>
  </li>
  </ul>
</div>
{%endfor%}
</article>
{% endblock %}
 


 